.dashboard{
    height: 91vh;
    display: flex;
    align-items: center;
}

.adminaside{
   height: 100%;
   width: 28%;
    text-align: center;
    background-color: #44444433;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.adminaside h3{
    padding: 10px 40px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size:x-large;
    color: white;
    background-color: #444;
}

.adminaside ul>li{
    padding: 10px;
    margin-bottom: 50px;
}

.adminaside>ul>li>a{
    text-decoration: none;
    font-size: larger;
    color: black;
    transition: all ease 0.2s;
}
.adminaside>ul>li>a:hover{
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    
}

.adminmain{
    height: 91vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}